BESTGAMEON みんなのゲームランキングへようこそ！

このメールは、お申し込みいただいたアドレスが正しいかどうか、
確認するためにお送りしています。

以下のURLへアクセスし、メールアドレスの登録を完了してください。

http://bestgameon.net/mailcheck/[% mailcheckkey %]

もしこのメールに心当たりが無い場合はこのメールを破棄してください。
今後ともBestgameonをよろしくお願いします。

--
Bestgameon開発チーム
http://bestgameon.net

