<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>View Request Parameters</title>
</head>
<body>
<h1>Parameters</h1>
<p>title=[% title %]</p>
<p>category=[% category %]</p>
</body>
</html>